name: Verify CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: Restore NuGet Packages
      run: nuget restore RataHouse.sln

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build Project
      run: msbuild RataHouse.sln /p:Configuration=Debug /p:Platform=x64 /p:PlatformToolset=v143

    - name: Setup VSTest
      uses: darenm/Setup-VSTest@v1

    - name: Run Tests
      run: vstest.console.exe x64\Debug\RataHouseTests.exe
